<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>home page</h1>
    <h1>ADMIN VIEW</h1>
    <a href="/createevent">Add event</a>
    <br>
    <% for(let e of events){ %> 
        <%= e.eventName %> 
        <a href="/event/<%= e.Event %>/makeform">Makeform/UpdateForm</a>
        <a href="/event/<%= e.Event %>/view">Applications</a>
        <br>
    <% } %> 
    

    
    <h1>user view</h1>

    <% for(let e of events){ %> 
        <%= e.eventName %> 
        <a href="/event/<%= e.Event %>/apply">Apply</a>
        <br>
    <% } %> 

    <a href="/auth/logout">Logout</a> 
</body>
</html>